---
layout: default
title: About | James Andersen
---
<div class="page about">
    <h2 class="post-title">About | James Andersen</h2>
    <p>James Andersen cares about using technology to solve problems and enhance people's lives.  He's been developing software experiences professionally for over ten years but his fascination for computers goes farther back to hours spent with <a href="http://en.wikipedia.org/wiki/Speak_%26_Spell_(toy)" target="_blank">Speak &amp; Spell</a>, <a href="http://en.wikipedia.org/wiki/Commodore_64" target="_blank">Comodore 64</a> and <a href="http://en.wikipedia.org/wiki/Bulletin_board_system" target="_blank">Bulletin Board Systems</a>.  James has worked in startups and Fortune 10 companies gaining appreciation of the challenges and opportunities unique to each.  For the past 5 years, he's been leading development of incredible user experiences at <a href="http://www.cynergy.com" target="_blank">Cynergy</a></p>
    <p>Here's some of what James has been up to recently:</p>
    <div class="panel">
        <h2><i class="icon-linkedin-sign icon-2x"></i>LinkedIn</h2>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jamesjandersen" data-format="inline" data-width="300" data-related="false"></script>
    </div>
    <div class="panel stackoverflow" data-ng-controller="StackOverflowCtrl">
        <h2><i class="icon-stackexchange icon-2x"></i><a href="http://stackoverflow.com/users/385152/jandersen">
        <img src="http://stackoverflow.com/users/flair/385152.png?theme=clean" width="208" height="58" alt="profile for jandersen at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for jandersen at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a></h2>
        
        <ul>
            <li data-ng-repeat="item in feed">
                <span data-ng-class="item.icon"></span>
                <span class="date" data-ng-bind="item.date | date:'dd MMM'"></span>
                <span data-ng-bind-html="item.description"></span>
            </li>
        </ul>
    </div>
    <div class="panel github" data-ng-controller="GitHubCtrl">
        <h2><i class="icon-github icon-2x"></i>GitHub</h2>
        <ul>
            <li data-ng-repeat="item in feed">
                <span data-ng-class="item.icon"></span>
                <span class="date" data-ng-bind="item.date | date:'dd MMM'"></span>
                <span data-ng-bind-html="item.description"></span>
            </li>
        </ul>
    </div>
    <div class="panel">
        <h2><i class="icon-twitter icon-2x"></i>Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/jandersen78" data-widget-id="372208012435271680">Tweets by @jandersen78</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
 </div>