---
layout: default
---
<div class="post">
    <div class="shadow"></div>
    <div class="date-block">
        <div class="date">{{ page.date | date: "%d" }}</div>
        <div class="month">{{ page.date | date: "%B" }}</div>
    </div>
    
    <span class="post-title">{{ page.title }}</span>
    <div class="content">{{ content }}</div>
    <div class="categories">
        <!-- This loops through the post categories -->
        {% for cat in page.categories %}
        <span class="category">{{cat}}</span>
        {% if forloop.last %}{% else %},&nbsp;{% endif %}
        {% endfor %}
    </div>
</div>